@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.801);
  padding: 30px 10px;
  font-family: "Do Hyeon", sans-serif;
}
.dvdv {
  border-radius: 30px;
  width: 1255px;
  height: 900px;
  background-color: whitesmoke;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
.top-statusbar {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
}
.top-statusbar__title h1 {
  font-size: 50px;
  width: 100%;
  margin-right: 50px;
  color: #bf9270;
  margin-left: 200px;
}
.top-statusbar__title h2 {
  font-size: 30px;
  margin-right: 50px;
  color: rgba(0, 0, 0, 0.301);
  margin-left: 200px;
}
.top-statusbar__title:first-child {
  margin-left: 200px;
  font-size: 20px;
  color: #e3b7a0;
}
.column {
  display: flex;
  flex-direction: row;
}
.table-of-content {
  margin-left: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(27, 27, 27, 0.2);
}
.left-statusbar {
  height: 350px;
}
.table-of-content:nth-child(1) {
  margin-bottom: 30px;
  border-radius: 15px;
  width: 210px;
  height: 50px;
}
.table-of-content:nth-child(2) {
  margin-bottom: 30px;
  border-radius: 15px;
  width: 210px;
  height: 50px;
}
.table-of-content:nth-child(3) {
  margin-bottom: 30px;
  border-radius: 15px;
  width: 210px;
  height: 50px;
}
.table-of-content:nth-child(4) {
  margin-bottom: 30px;
  border-radius: 15px;
  width: 210px;
  height: 50px;
}
.table-of-content:nth-child(5) {
  margin-bottom: 30px;
  border-radius: 15px;
  width: 210px;
  height: 50px;
}
.table-of-content:nth-child(6) {
  margin-bottom: 30px;
  border-radius: 15px;
  width: 210px;
  height: 50px;
}
.table-of-content:nth-child(7) {
  margin-bottom: 30px;
  border-radius: 15px;
  width: 210px;
  height: 50px;
}
.table-of-content:hover {
  color: rgb(58, 170, 245);
  cursor: pointer;
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: inherit;
}
.row {
  display: flex;
  width: 1000px;
  height: 800px;
  justify-content: center;
  margin-left: 240px;
  line-height: 40px;
}

.column:nth-child(2) {
  width: 400px;
  height: 0px;
}

.black-bar {
  width: 200px;
  height: 50px;
  background-color: black;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
}
.black-bar span {
  color: white;
}
.table-of-content:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.center-contents {
  width: 955px;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.514);
}
