@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

body {
  width: 100%;
  height: 2000px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.801);
  padding: 30px 10px;
  font-family: "Do Hyeon", sans-serif;
  box-sizing: border-box;
}
.dvdv {
  border-radius: 30px;
  width: 1255px;
  height: 1800px;
  background-color: whitesmoke;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
.column {
  display: flex;
  flex-direction: row;
}
.top-statusbar {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
}

.top-statusbar__title h2 {
  font-size: 30px;
  margin-right: 50px;
  color: rgba(0, 0, 0, 0.301);
  margin-left: 200px;
}

a {
  text-decoration: none;
  color: inherit;
}
.row {
  display: flex;
  width: 1200px;
  height: 1800px;
  justify-content: center;
  margin-left: 35px;
  line-height: 40px;
}

.column:nth-child(2) {
  width: 400px;
  height: 0px;
}

.black-bar {
  width: 200px;
  height: 50px;
  background-color: black;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
}
.black-bar span {
  color: white;
}
.table-of-content:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.center-contents {
  width: 1100px;
  height: 1600px;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.514);
}

.link_to_back {
  margin-top: 30px;
  margin-right: 450px;
}
.top-statusbar__title {
  display: flex;
  justify-content: space-between;
}
.center-contents h1 {
  font-size: 40px;
}
.center-contents p {
  width: 80%;
  font-size: 20px;
}
.center-contents ol {
  font-size: 25px;
}
.number-box {
  width: 100%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}
#first-photo {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  padding: 20px;
  margin-right: 30px;
}
#second-photo {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  padding: 20px;
}
#third-photo {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  padding: 20px;
  margin-right: 30px;
}
#fourth-photo {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  padding: 20px;
}
#fifth-photo {
  width: 200px;
  height: 150px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  margin-right: 30px;
}
#sixth-photo {
  width: 300px;
  height: 160px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
}
#seventh-photo {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  padding: 10px;
}
li {
  margin-bottom: 20px;
}
li img {
  margin-top: 10px;
}
